@import url('https://fonts.googleapis.com/css?family=Abel');
body {
  margin: 0;
}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("img/paperBackground.jpeg");
  background-size: cover;
  z-index: -1;
  filter: brightness(103%);
}

#page-wrapper {
  max-width: 1300px;
  height: 100vh;
  margin: 0 auto;
}

/************** Navigation bar ******************/

.active {
  color: rgb(16, 136, 0);
  border-bottom: 4px solid rgb(16, 136, 0);
  font-size: 18px;
  font-weight: bold;
}

nav {
  height: 110px;
}

#logo {
  width: 80px;
  float: left;
  padding: 30px 0 0 30px;
}

nav p {
  display: inline-block;
  font-size: 35px;
  font-family: 'Abel', cursive;
  font-weight: 900;
  color: black;
  margin: 60px 0 0 20px;
}

nav ul {
  float: right;
  padding: 50px 30px 0 0;
}

nav ul li {
  display: inline;
}

nav ul li a:hover {
  color: rgb(24, 204, 0);
}

nav ul li a {
  font-family: 'Abel', sans-serif;
  text-decoration: none;
  padding: 18px 15px;
  margin: 0 15px;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

/******************** Content *********************/

#content-wrapper {
  width: 100%;
  padding-top: 40px;
  position: relative;
}

/****************** Mystery Items *******************/

#mystery-item-wrapper {
  height: 230px;
  width: 660px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

#scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 540px;
  height: 230px;
  margin: 0 auto;
}

.item {
  flex: 0 0 auto;
  width: 220px;
}

.mystery-item {
  display: block;
  width: 70%;
  filter: brightness(15%);
  margin: 0 auto;
}

.arrow {
  width: 30px;
}

.arrow img {
  width: 100%;
  cursor: pointer;
}

@keyframes reveal-item {
  from {
    filter: brightness(15%);
  }
  to {
    filter: none;
  }
}

/******************** Search bar ********************/

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

#search-container {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  border-radius: 6px;
  border: 2px solid rgb(170, 170, 170, 0.3);
  position: relative;
  margin-top: 20px;
  z-index: 2;
}

input, button {
  font-family: 'Abel', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

form {
  height: 45px;
}

input[type="text"] {
  width: 95%;
  height: 45px;
  font-size: 20px;
  line-height: 1;
  padding-left: 20px;
}

input[type="text"]::placeholder {
  color: #8f8f8f;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
  zoom: 80%;
}

button {
  position: relative;
  display: block;
  width: 30px;
  height: 34px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -4px;
  left: -20px;
  width: 18px;
  height: 18px;
  margin-top: 0;
  border-width: 5px;
  border: 5px solid black;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.3s ease all;
}

button span {
  position: absolute;
  top: 16px;
  left: -8px;
  display: block;
  width: 25px;
  height: 10px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(45deg);
  transition: 0.4s ease all;
}

button span:before, button span:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 5px;
  background-color: black;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.4s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 30px;
  height: 5px;
  border-width: 0;
  background-color: black;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 0px;
  width: 13px;
  margin-top: -7px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 6px;
  transform: rotateZ(40deg);
}

#s-cover:hover button span:after {
  bottom: -3px;
  transform: rotateZ(-45deg);
}

#s-cover:hover button span:before, #s-cover:hover button span:after {
  right: 0px;
  width: 18px;
  background-color: black;
}

*:focus {
  outline: none;
}

/******************** Bins **************************/

#bins-container {
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.bin {
  width: 125px;
}

.bin img {
  width: 100%;
}

/******************* Item List ***************************/

#item-list-container {
  position: absolute;
  top: 200px;
  width: 200px;
  height: 65%;
  padding-left: 40px;
  z-index: 1;
  overflow: hidden;
}

#item-list-container:hover {
  overflow: auto;
}

#item-list-container ul {
  position: relative;
  padding-left: 0px;
  margin: 0;
  list-style-type: none;
  font-family: 'Abel', cursive;
  font-size: 20px;
}

#item-list-container ul li {
  padding: 8px 0;
  cursor: pointer;
  text-transform: capitalize;
}

#item-list-container ul li:hover {
  animation: itemPop 0.25s;
  animation-fill-mode: forwards;
  color: rgb(24, 204, 0);
}

.currentSelectedItem {
  font-weight: 800;
  font-size: 26px;
  margin-left: 20px;
  color: rgb(16, 136, 0);
}

@keyframes itemPop {
  form {
    margin-left: 0;
  }
  to {
    margin-left: 20px;
  }
}

/********************** Play page ***************************/

#score {
  padding-top: 25px;
  position: absolute;
  width: 100vw;
  max-width: 1300px;
  font-family: 'Abel', cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

#result {
  position: absolute;
  width: 100vw;
  max-width: 1300px;
  z-index: 1;
  top: 130px;
  display: flex;
  justify-content: center;
  font-family: 'Abel', cursive;
  font-size: 20px;

}

#result div {
  background: rgb(238, 238, 238);
  box-shadow: 0 0 3px rgb(141, 141, 141);
  width: 300px;
  height: 300px;
}

#result p {
  text-align: center;
}

#dbWrite {
  display: grid;
  justify-content: center;
}

#userInput {
  background-color: white;
  text-align: center;
  padding-left: 2px;
  margin: 2px;
  grid-area: 1 / 1 / span 1 / span 3;
}

#submitButton {
  width: 100px;
  box-shadow: 0 0 3px rgb(141, 141, 141);
  grid-area: 2 / 2;
}

#submitButton:hover {
  background-color: rgb(141, 141, 141);
}